[2017-05-04 04:25] Mike-EEE opened #1 "Welcome Aboard!"
Good to see you amongst civilization. 😆  Thanks again for making this project!

[2017-05-04 04:25] Mike-EEE commented on #1
While GitHub does a lot of things right, the one thing it doesn't have is a forum, so "issues" are the best things for discussion.  Might want to create a "discussion" label to keep things organized.  I will close this issue to keep your slate clean. 👍

[2017-05-04 04:25] #1 closed

[2017-05-16 07:57] cmeeren opened #2 "When generating files, adhere to non-namespace-providing folders, e.g. "src""
In my non-test projects, I have all code placed in a top-level "src" folder. When generating a test file using TestCop, the new test file is not placed in a "src" folder in the test project. Example:

Folder structure in real project:

[code]

Actual folder structure in test project, as generated by TestCop:

[code]

Desired folder structure in test project, as generated by TestCop:

[code]

[2017-05-17 18:43] testcop commented on #2
Hello, I avoid folders containing code that aren't NamespaceProviders. My thinking is that if I have that many files in a folder then perhaps I need to restructure the namespaces. However, I can see your case is different.

With some work it should be possible to implement but adding full support will need to consider multiple NamespaceProviders=false folders.

I will definately take a look

[2017-08-31 15:07] yzhogoliev opened #5 "Update for R# 2017.2?"

[2017-09-07 05:56] testcop commented on #5
I have been  trying to update the project with their EAP releases but kept getting nuget dependency issues so stopped. Now we have an official release things will hopefully work.

[2017-09-07 05:59] testcop commented on #2
This is still work in progress (admittedly a background task) as it has proved quite complex to implement as testcop has to support 3 different types of test project configuration.

[2017-09-12 22:11] testcop commented on #5
Done and released - many thanks to @olsh for pull request

[2017-09-12 22:11] #5 closed

[2017-10-22 18:44] testcop commented on #2
Released an update as an EAP of TestCop - please confirm if fix works for you.
[1.10.4.5-EAP](https://resharper-plugins.jetbrains.com/packages/Resharper.TestCop.R9/1.10.4.5-EAP)

[2017-10-24 06:33] cmeeren commented on #2
Sorry, I'm currently deep into F# and won't get the opportunity or time to test TestCop for a while. If it seems fixed for you, feel free to close this. :)

[2017-10-26 17:44] testcop commented on #2
Closing as fixed. Released changes

[2017-10-26 17:44] #2 closed

[2017-10-30 10:54] firehirsch opened #11 "Adding new test classes in Visual Studio 2017 leads to exception"
If you use TestCop to add a new class with tests in VIsualStudio 2017 with R# 2017.2 the following error is shown and VisualStudio crashes.

![image](https://user-images.githubusercontent.com/8678671/32167286-c3132a04-bd68-11e7-9960-768654206880.png)

The class file gets created but is not added to the project.

[2017-10-30 22:31] testcop commented on #11
Hi firehirsch, I have a couple of questions:
* Which version of TestCop are you using. Is it the EAP version?
* If you are able to share the RegEx patterns you are using then that would help too.
* Which template do you have TestCop configured to use when creating the class? Is it just 'class' ?

I'll download VS2017 in the meantime....

[2017-10-31 12:38] firehirsch commented on #11
Here my answeres:

I used 1.10.4.5-EAP. But I didn't notice that I have installed this PreRelease. I'll try later with the last normal release.
My RegEx patterns:
Test Namespace RegEx: ^(.*?)\.?UnitTests$
Test Namespace RegEx Replace: (empty)

With version 1.10.4.6-EAP I get the following output:
`Setting keyboard shortcut for 'Resharper.ReSharper_JumpToTestFile' to 'Global::Ctrl+G, Ctrl+T'
Settin

[2017-10-31 20:46] testcop commented on #11
I am having trouble replicating this issue. It works for me with my sample projects.
* Does it always crash or is it only when navigating from certain files?
* Is HttpMock.UnitTests.RequestResponse an actual code class within the project or just an instance of the class in the unit test class?
* Is the file you are navigating *from* ... a file in the root? Or in a subdirectory which does not provi

[2017-11-01 11:51] firehirsch commented on #11
- It crashes all the time when a new testclass should be added. I've not tried it yet with existing testclasses
- HttpMock.UnitTests.RequestResponse is a namespace where the class to test is in.

I've attached my project with that I found that problem. SO you can try it with this.

[src.zip](https://github.com/testcop/Resharper.TestCop/files/1433993/src.zip)

[2017-11-01 21:51] testcop commented on #11
It was the 'virtual folders' you had in your project which my recent work didn't handle. I have fixed the logic and it appears to work as expected with your project. Please confirm either way.  [1.10.4.7-EAP](https://resharper-plugins.jetbrains.com/packages/Resharper.TestCop.R9/1.10.4.7-EAP)

[2017-11-02 19:38] firehirsch commented on #11
I've just installed your new EAP version and it looks good. No crashes and no logged errors in the output window.

[2017-11-08 08:10] #11 closed

[2017-12-19 23:45] espenalb opened #15 "Update for 2017.3?"
Any plans to release this soon?

[2017-12-22 21:29] testcop commented on #15
Released as [1.10.5.1](https://resharper-plugins.jetbrains.com/packages/Resharper.TestCop.R9/1.10.5.1)

[2017-12-22 21:45] espenalb commented on #15
Fantastic! Tnx  for ultra quick response!
________________________________
From: Reporting for duty <notifications@github.com>
Sent: Friday, December 22, 2017 22:29
To: testcop/Resharper.TestCop
Cc: Espen Albrektsen; Author
Subject: Re: [testcop/Resharper.TestCop] Update for 2017.3? (#15)

Released as 1.10.5.1<https://resharper-plugins.jetbrains.com/packages/Resharper.TestCop.R9/1.10.5.1>

—
You a

[2018-04-18 06:34] neustakwesling opened #17 "Update for 2018.1"
It is that time again. ;)

[2018-04-25 08:58] espenalb commented on #17
Any progress on this?

[2018-05-01 22:54] #15 closed

[2018-05-01 22:55] testcop commented on #17
[1.10.6.1](https://resharper-plugins.jetbrains.com/packages/Resharper.TestCop.R9/1.10.6.1)

Many thanks Oleg.

[2018-05-01 22:55] #17 closed

[2018-05-24 05:02] csiberlin opened #22 "Single test project: projects with a different default namespace are not found"
My project with the production code is named Foo.Bar.csproj. It's default namespace is 'Foo'.
My test namespace is 'Tests.Foo'. I use the strategy 'single test project per solution'

Setup regEx are:
Test Namespace RegEx: Tests(\..*)*$
Code Assembly Namespace RegEx: $1
Code Sub-Assembly Namespace RegEx: $1

A testclass in namespace 'Tests.Foo' cannot be matched with it's production code in namespa

[2018-05-24 05:19] csiberlin commented on #22
Solved by providing correct RegEx

[2018-05-24 05:19] #22 closed

[2018-08-30 07:08] testcop opened #24 "Upgrade to 2018.2"

[2018-09-03 21:56] testcop commented on #24
Released

[2018-09-03 21:57] #24 closed

[2018-12-19 08:07] espenalb opened #28 "Upgrade to 2018.3?"
Is there a timeline for TestCop support for R# 2018.3?

[2018-12-19 10:34] testcop commented on #28
today !

[2018-12-19 10:49] testcop commented on #28
Released … [1.10.6.3](https://resharper-plugins.jetbrains.com/packages/Resharper.TestCop.R9/1.10.6.3)

[2018-12-19 12:47] mario-d-s commented on #28
Thanks a bunch!

[2019-02-01 13:35] hansmelin commented on #28
I have updated R# to 2018.3.2 and now I can´t find TestCop in the Extension Manager

[2019-02-02 09:08] testcop commented on #28
will fix this weekend

[2019-02-02 18:06] testcop commented on #28
I have encountered a problem with the new Jetbrains package manager portal which no longer likes the 'id' of my nuget package. I currently can't push a new release out.

[2019-02-05 19:55] testcop commented on #28
Uploaded to portal - received a message it might take 48hrs
Keep me posted and apologies for the delay...

[2019-02-06 18:11] #28 closed

[2019-02-07 08:36] hansmelin commented on #28
Now it works. Thanks!

[2019-05-06 09:05] hansmelin opened #34 "Upgrade to 2019.1.1"
Hello!

There is a new version of R# out now, 2019.1.1

Could you please update TestCop?

[2019-05-23 14:08] vdasus commented on #34
17 days... Any news? Really helpful plugin

[2019-05-23 15:41] rayphi commented on #34
As workaround you can get my fork (Pull Request  #35) build and install the package local (see: [ReSharper DevGuide > Local Installation](https://www.jetbrains.com/help/resharper/sdk/Extensions/Deployment/LocalInstallation.html))

[2019-05-23 17:51] vdasus commented on #34
If we'll need to wait a few days - i'll wait, but then i will try to take your fork, thank you

[2019-05-27 20:40] testcop commented on #34
I missed the GitHub notification for this thread, I will take a look and thanks @rayphi for the pull request

[2019-05-29 19:24] testcop commented on #34
released [testcop](https://plugins.jetbrains.com/plugin/11635-testcop-for-resharper-2019-1-1)
I am getting test failure within AppVeyor too

[2019-06-04 12:39] hansmelin commented on #34
I have tested and it works.
Thanks!

[2019-06-04 12:39] #34 closed

[2019-06-20 19:49] testcop opened #37 "R# assembly confilicts within AppVeyor - nunit failure"
Pull request failing for unknown issue. Conflicting assemblies within AppVeyor build but works locally fine
[Jetbrain issue link..](
https://resharper-support.jetbrains.com/hc/en-us/community/posts/360003578800-Unit-Tests-fails-with-nunit-console-in-VS-R-all-tests-are-fine-Exceptions-maybe-related-to-Resharper-SDK-Tests-)

[2019-07-11 04:58] maxjoehnk opened #38 "Support for Rider"
Support for the Rider IDE would be neat.
As far as I know exchanging the Resharper.Sdk with the Rider.Sdk should work for this.

[2019-07-11 19:39] testcop commented on #38
Hi Max, I doubt it would be as simple as that because Testcop uses some VisualStudio routines and also has a configuration dialog.

[2019-08-13 14:22] rayphi opened #39 "Upgrade to 2019.2"
It's time again ;)

[2019-08-14 16:14] testcop commented on #39
Yep, will take a look at a recompile at the weekend

[2019-08-18 21:24] testcop commented on #37
fixed with recompile of r#2019.2

[2019-08-18 21:24] #37 closed

[2019-08-18 21:24] testcop commented on #39
done and published.
it may take a day to appear

[2019-08-19 15:14] #39 closed

[2019-12-12 13:47] rayphi opened #43 "Upgrade to 2019.3"
Groundhog Day 😜

[2019-12-12 14:14] rayphi commented on #43
Is it possible to offer support for this task?
So that for example you only have to accept a pull request?

[2019-12-12 22:01] testcop commented on #43
I've had a quick look and I am getting nuget dependency errors when attempting to upgrade - it may take me a few evenings to work it out...

[2019-12-17 21:11] testcop commented on #43
Waiting on Jetbrains fix..
https://groups.google.com/forum/#!topic/resharper-plugins/pYN7loKKrko

[2019-12-21 21:26] schuettecarsten commented on #43
Please try again with R# 2019.3.1

[2019-12-22 11:52] Mike-EEE commented on #43
Please feel free to vote to improve the extension model experience so we don't have to continually nag extension model authors for each release:

https://youtrack.jetbrains.com/issue/RSRP-459966

I've mentioned this issue in the comments.

[2019-12-22 17:46] testcop commented on #43
New version recompiled and pushed - may 48hrs to appear for download...

[2019-12-27 06:30] schuettecarsten commented on #43
Testcop still not found in R# extension manager?

[2019-12-27 09:55] MO2k4 commented on #43
It is waiting for approval by jetbrains and because of the holidays it is taking a little bit longer than usual

Am 27.12.19 um 07:30 schrieb Carsten Schuette

[2020-01-07 09:27] #43 closed

[2020-04-18 19:35] grzesiek-galezowski opened #47 "Upgrade to 2020.1"
Hi, please enable the extension for 2020.1.

Many thanks for a great extension!

[2020-04-18 19:41] Mike-E-wins commented on #47
A kind reminder to upvote the following issue to improve the upgrade experience around R# extensions here:

https://youtrack.jetbrains.com/issue/RSRP-459966

I see that @grzesiek-galezowski voted.  Thank you and to all who have also voted for your support!

[2020-04-20 20:28] testcop commented on #47
yep - I was just waiting on EAP to end..

[2020-04-20 21:57] testcop commented on #47
new build submitted to JetBrains - it will take a couple of days to become available

[2020-05-18 20:51] #47 closed

[2020-05-26 15:28] Mike-E-wins opened #50 "Consider an `InternalsVisibleTo`-type Attribute for Locating Testing Projects"
I am running into a scenario in a solution with many projects (about 40 of them) where the regex location seems to fail me.

That is, in this scheme, there seems to be overlap with two of the scenarios described in the wiki.  To start, there are many projects that do not have a dedicated test project based on namespace/project, but they all share one central one ([usage #3](https://github.com/test

[2020-05-26 18:04] testcop commented on #50
Testcop can store the config per solution but that doesn't help if you have different patterns within the same solution.

I can envisage using TestingAssemblyHint to drive the methods GetAssociatedProjectFor() and IsTestProject() but the complexity I always found was deriving the folder the testclass should be under...only possible if I know how to transform the full namespace of the class under t

[2020-05-26 18:19] Mike-E-wins commented on #50
Generally (if not always) I would like to follow the first usage you have described in the wiki.  So, mirrored namespaces separated by the `Testing` token in the testing project.

For a good example of what I am going through, consider my framework (most recent branch):

https://github.com/DragonSpark/Framework/tree/projects/Starbeam/

Here you can see there's a `Composition` project ([link](https

[2020-05-26 19:34] testcop commented on #50
I'll take a look at your repo and see what is possible over the next few evenings..

[2020-06-12 06:22] Mike-E-angelo opened #51 "Warnings for `AssemblyAttributes.cs` (Generated File)"
Using [this commit here](https://github.com/DragonSpark/Framework/commit/833139de2f54f599972b3f5878734d20e8633896), I am seeing warnings of the like:

![](https://i.imgur.com/kPZtNq4.png)

These appear to be generated files, and wanted to report this here in the case there is an obvious setting/configuration that I am overlooking or if perhaps this is a bug.

[2020-06-13 08:24] testcop commented on #51
I will take a look. The logic is in here https://github.com/testcop/Resharper.TestCop/blob/8b743dbe329a5cc7f20d46c3008e0344385727b0/Project/Src/TestCop.Plugin/ProjectAnalysisElementProcessor.cs

As a 'quick fix' you could set the orphaned files value in TestCop settings to be '*.xxx' so it only checks for a file extension that won't exist.

[2020-06-13 10:45] Mike-E-wins commented on #51
OK cool thank you for the suggestion.  To be sure, if I wanted to check for a file extension that didn't exist, shouldn't I just disable orphaned files?  Trying to understand the difference between the two.

[2020-06-13 21:17] testcop commented on #51
Fix on the way - I discovered the method currentProject.GetIntermidiateDirectories()
Only one orphaned file reported against dragonspark

[2020-06-14 07:07] Mike-E-wins commented on #51
Woohoo!  Thank you very much @testcop!

[2020-06-14 07:48] testcop commented on #51
Published to jetbrains - it should be approved in a couple of days.

[2020-06-30 07:53] jcsonder commented on #38
It would be really nice to have TestCop for Rider!

[2020-07-27 08:16] Mike-E-angelo commented on #50
FWIW I bit the bullet and made separate testing projects for my different assemblies and it works well.  I hate polluting my solution with so many projects, but alas that appears to be the state of the matter.  That stated, I am OK with closing this issue unless you've already put time into it (or someone else would like to see it).

[2020-08-12 06:14] Mike-E-angelo commented on #51
Closing this issue as it is fixed.  Thank you for your efforts here!

[2020-08-12 06:14] #51 closed

[2020-08-12 06:17] Mike-E-angelo opened #53 "Possible Issue with Shortcuts"
I seem to be having problems with applying a shortcut for Jump-to-Test.  I apply a shortcut but it goes away on the next start of Visual Studio.  The issue is being tracked here:

https://youtrack.jetbrains.com/issue/RSRP-480735

What made me suspect there is an issue in the extension here is that there is output in the console window on startup:

![](https://i.imgur.com/6u5NsbC.png)

It doesn't m

[2020-08-12 10:15] Denis-Korneev commented on #53
There are two issues:
1. There could be more than one keybindings assigned to a command. The plugin should not clear shortcuts assigned by user (see DTEHelper.AssignKeyboardShortcutIfMissing).
2. ReSharper never assigns any shortcuts without user's confirmation. That's a rule. ForceKeyboardBindings should not be called from the daemon stage.

[2020-08-13 07:29] testcop commented on #53
The shortcut testcop assigns is configured via the testcop options page.
The Resharper plugin framework is pretty bad for supporting shortcuts (it keeps clearing them for extensions) so the plugin reassigns on start. It logs this...trying to be helpful :)

[2020-08-13 08:45] Mike-E-angelo commented on #53
Ah!  OK, that is good to know.  There is still the issue that it sounds like the extension is breaking a R# rule/norm, but I am now unblocked by using the options, thank you. 👍

Would it be possible to perhaps update the message in the Output Window to reflect this?  Something like `To change these shortcuts, visit the TestCop Options page.`  That way we aren't having to think things are broken an

[2020-08-13 18:52] testcop commented on #53
The keyboard mapping UI in Visual Studio only permits one shortcut mapping within the same context. I don't think you can have multiple.

[2020-08-13 20:41] Mike-E-angelo commented on #53
Maybe there's a miscommunication here.  This is what I am referring to:

![](https://youtrack.jetbrains.com/api/files/74-902395?sign=MTU5NzUzNjAwMDAwMHwxMS0xOTkxMnw3NC05MDIzOTV8M2UwVUdKUEtWTks4Z24ybmh4ck4zdGZT%0D%0AWWJBSUl6aUpNQ1JGTkZxanBFVQ0K%0D%0A&updated=1597212269950)

After assigning as such, I am able to use either shortcut and the command executes.  But of course this only works for the cur

[2020-08-14 12:23] Denis-Korneev commented on #53
Visual Studio **does** allow many shortcuts for one command in the same shortcut scope. That's exactly what Mike did.
`if (currentBindings.Length == 1)` in `AssignKeyboardShortcutIfMissing` is a bug.

[2020-08-14 14:34] Denis-Korneev commented on #53
Applying shortcuts silently on every startup is not a good idea for many reasons. The main of them is that the user could manually reassign any shortcut.

We should not make any assumption on the "right" state of shortcuts. User could use another shortcut (or shortcuts) for TestCop commands and vice versa use TestCop's shortcuts for other commands just because it's more convenient for him.

The on

[2020-08-15 20:31] testcop opened #54 "Recompile for R#2020.2"

[2020-09-01 21:12] testcop commented on #54
Released to jetbrains - available in a couple of days.
Apologies for delay due to vacation...

[2020-09-02 05:31] Mike-E-angelo commented on #54
Woohoo!  Thank you for all your diligent work here.  Now I can upgrade to 2020.2. 😁

[2020-09-04 06:52] testcop commented on #53
In the options page of TestCop (accessed via Resharper) there was a tab for the keyboard shortcut. This has now been removed.
TestCop continues to printout to the panel when it maps the shortcut and also prints out the existing shortcuts used on start.
TestCop will default its shortcuts only on installation if no existing shortcuts are set.
Going forward...to change the mappings - use visual studi

[2020-09-04 06:52] #53 closed

[2020-09-04 07:09] Mike-E-angelo commented on #53
Thank you again for all your efforts and collaboration towards getting this resolved!

[2020-09-17 06:45] neustakwesling opened #58 "TestCop breaks Code Inspection / Inspection Severity option page"
When I install the TestCop extension, the option page under Options/Code Inspection/Inspection Severity breaks.
It only shows an empty page and to chose from the pages below.

Expected behaviour: The tree for the different languages are shown and severity can be set up.

![Inspection Severity without TestCop](https://user-images.githubusercontent.com/13115992/93429884-210c0080-f8c2-11ea-8eee-77864

[2020-09-17 06:48] testcop commented on #58
I will take a look...

[2020-09-18 21:58] testcop commented on #58
Fixed built and pushed to Jetbrains.

[2020-09-22 14:50] Hadda90 commented on #38
I would also welcome this proposal.

[2020-09-22 19:15] testcop commented on #38
pull requests accepted :)

[2020-12-12 21:32] #58 closed

[2020-12-12 21:32] #54 closed

[2020-12-22 03:02] astrohart opened #60 "Upgraded ReSharper to 2020.3, TestCop stops showing in Extension Manager and stops responding to Ctrl+G, Ctrl+T"
NOTE: In the below, "R#" refers to "ReSharper".  (Saves typing).

I am utilizing Visual Studio 2019 16.8.3 on Windows 10 Pro, Build 2204, with R# 2020.3.

I always like to keep all the software on my computer at the very latest version.

Previously, I was going with R# 2020.2, and I went to the R# 2020.3 and it seems like all TestCop functionality just vanished.

[2020-12-22 20:35] testcop commented on #60
I need to recompile with the latest  R# library. I gave it a try last week and though there appears to be just a couple of functions impacted I haven't been able to work out their new alternatives.

[2020-12-23 17:01] astrohart commented on #60
Thanks so much for your kind attention and consideration of my request!  I am eagerly awaiting the release for the latest version of R#.

[2020-12-23 17:02] astrohart commented on #60
I think it is bad programming practice on the authors  of the R# lib -- and this is totally without any context -- but it seems like they should always be backwards-compatible in their coding so that new functionality does not break existing interfaces.

[2020-12-28 19:51] Mike-E-angelo commented on #60
So should this issue be closed yet?  It would seem it is not available yet for 2020.3.  BTW @astrohart if you would like, please upvote this issue which basically is monitoring the very painful upgrade process of R#:

https://youtrack.jetbrains.com/issue/RSRP-459966

We're all whining and complaining about it there. 😁😇😆

[2020-12-29 09:22] testcop commented on #60
Apologies but I am stuck on some compilation errors from latest R# version and will need to dig deeper into R# code.

Pull requests gratefully accepted !

[2020-12-29 12:54] Mike-E-angelo commented on #60
I've put out the bat-signal:

https://twitter.com/Mike_E_angelo/status/1343900946808639488

🙏

[2021-01-01 13:26] astrohart commented on #60
Issue upvoted on the YouTrack website.  I have a question, could this solution be re-architected into a Visual Studio extension (that you do not need ReSharper for, necessarily?)

It seems to me that there would be plenty of ways that the exact same functionality could be duplicated purely utilizing the EnvDTE interfaces that Visual Studio exposes, i.e., by turning TestCop into a .vsix.  I mean, a

[2021-01-04 14:41] matkoch commented on #60
@testcop We have a plugin-developer Slack channel - if you want, I can invite you, I would just need your e-mail address. I already updated part of the repository to use our plugin template, which should make updating and publishing a lot easier. I admit the process has been a pain, but that should not be the case any longer.

Ensuring backward-compatibility is unfeasible, unfortunately. Firstly,

[2021-01-04 21:45] testcop commented on #60
Thanks for your repo changes @matkoch - plugin rebuilt

[2021-01-04 21:48] matkoch commented on #60
did you already use what i've pushed? i'd still need to check a couple of things, but it should already compile again

[2021-01-04 21:50] testcop commented on #60
My unit tests pass and basic manual tests work as expected. I will take a look at the other repo change you make and apply. What are the features of the plugin template??

I will send you my email address separately...

[2021-01-04 22:02] matkoch commented on #60
Just like i said: allows for easier updating the SDK (PackageReference) and
has scripts for publishing and visual studio debugging. If you can get rid
of DTE (at least partially), you can also publish for Rider.

On Mon 4. Jan 2021 at 22:50, Reporting for duty <notifications@github.com>
wrote:

[2021-01-04 22:15] testcop commented on #60
Unfortunately - DTE is essential to register the shortcut the plugin uses...there is whole separate support thread on that topic....https://youtrack.jetbrains.com/issue/RSRP-480735 and also to refresh the VS UI when a new file is added to the project.

If R# could support plugin shortcuts better then DTE dependency could probably be dropped...

[2021-01-04 22:26] matkoch commented on #60
That doesn’t sound like smth that couldn’t be implemented using the SDK,
but lets talk on slack then.

On Mon 4. Jan 2021 at 23:16, Reporting for duty <notifications@github.com>
wrote:

[2021-01-08 22:05] astrohart commented on #60
The latest and greatest of TestCop downloaded and installed for me!  Thanks!

[2021-01-08 22:05] #60 closed

[2021-02-02 15:29] astrohart opened #62 "Is it really necessary to tie compatibility to current ReSharper version?"
I _love_ TestCop!  It's my favorite ReSharper extension.

However, that being said, the JetBrains folks like to do Continuous-Release of point releases.  i have the JetBrains Toolbox app on my computer which constantly keeps ReSharper up to date.

However, as soon as ReSharper puts out a new version, testcop stops working.  I've raised this issue before, but I am certain that there has to be a sol

[2021-02-07 14:57] testcop commented on #62
Please see https://github.com/testcop/Resharper.TestCop/issues/43#issuecomment-568255225

Also, I no longer code in C# so I need TestCop fans to prompt me about a recompile...(which I am more than happy to do). Like you...I think testcop is an essential tool..

[2021-02-07 15:13] Mike-E-angelo commented on #62
LOL @testcop I was going to post that link earlier but didn't want to be an obnoxious naglord... well, not more than I usually am. 😆

[2021-02-07 18:06] testcop commented on #62
Just to be sure, @astrohart ... can I confirm you're able to install TestCop on the latest R# ?

Also, have any of you tried TestLinker ? Which is a jetbrains maintained plugin? I see they give me a shout out in their tags :)
![image](https://user-images.githubusercontent.com/28064257/107155128-a5911580-696e-11eb-9ac9-da8fefe194e0.png)

[2021-02-07 18:23] Mike-E-angelo commented on #62
Yes I have @testcop.  I ran into a few issues as captured in https://github.com/matkoch/resharper-testlinker/issues/10

It also appears the project has been archived. 😟

[2021-02-22 18:08] astrohart opened #63 "ReSharper 2020.3.3 has come out"
You might want to update the code :-)  TestCop is my favorite R# extension and it goes dead every time R# puts out another version.

[2021-02-22 18:32] Mike-E-angelo commented on #63
So nice to have someone else with the case of the nags... now I no longer feel like an ubernag. 😆

We nag because we care. 😁

[2021-02-22 18:34] Mike-E-angelo commented on #63
BTW I don't think a new install/update is required for minor versions.  If `2020.3.3` is released, then any extension with a `2020.3.x` install will work.  This trips me up all the time as well.

[2021-03-25 20:00] Mike-E-angelo commented on #63
Looks like `2021.1 Beta` is out and can be used to build against for RTM:

https://youtrack.jetbrains.com/issue/RSRP-459966#focus=Comments-27-4792715.0-0

[2021-03-25 22:15] astrohart commented on #63
It would be my strong encouragement to try and stay ahead of the R# update curve as is possible.  Then the extension can have as much of an uninterrupted availability as possible.

[2021-03-25 22:15] #63 closed

[2021-03-26 03:42] Mike-E-angelo opened #64 "R# 20201.1 Beta Support"
Looks like https://github.com/testcop/Resharper.TestCop/issues/63#issuecomment-807384373 was closed but the cause remains:
https://youtrack.jetbrains.com/issue/RSRP-459966#focus=Comments-27-4792715.0-0

😁

Maybe @matkoch can assist.

😁😁😁

[2021-03-26 17:33] matkoch commented on #64
I don't know how I can be of particular help here?

[2021-03-26 18:03] Mike-E-angelo commented on #64
That was in reference to #60.  Hoping for more of a good thing. 😇

[2021-04-09 12:50] mu88 commented on #38
Today I spent an hour to see how far I can push this plugin towards Rider. It is definitely not easy because there are some Visual Studio / WPF components that have to be replaced.

[2021-04-09 20:32] astrohart opened #65 "R# 2021.1 broke TestCop"
I am using VS 2019 Enterprise v16.9.3 and R# 2021.1 which just came out.

Please update TestCop to be compatible.  Thanks!

[2021-04-16 08:15] vdasus commented on #65
please

[2021-04-16 08:57] Mike-E-angelo commented on #65
Friendly reminder to upvote this issue here which asks the R# team to alleviate the pain of extension updates with each R# release:

https://youtrack.jetbrains.com/issue/RSRP-459966

[2021-04-26 07:54] vdasus commented on #65
please, again...

[2021-04-28 06:57] rayphi opened #68 "Contribution Guide"
Hey,

_Did you answer me a long time ago._

Unfortunately, I think I'm missing a little guide to be able to work with the project at all.
Would it be possible that you could help us out with this?

What I get to see when I open the Solution:
[TestCop_SolutionErrors.txt](https://github.com/testcop/Resharper.TestCop/files/6389673/TestCop_SolutionErrors.txt)

[2021-04-30 06:55] MarkSandy commented on #68
First, you need to "restore all nuget packages for the solution" through a rightclick on the solution
Then you must adapt the nuget.buid.bat by setting the OUTDIR in line #4 to your local binary output path
Currently the extracted WAVEID in the .bat file does not match the latest Resharper version as
JetBrains.Platform.SDK has not been updated yet.

To get a working package for the latest R# versi

[2021-05-01 13:00] MarkSandy commented on #65
You can compile it yourself and install it via local nuget.
You need to edit the nuget.build.bar though.
1. restore all nuget packages (rightclick on the solution)
2. configure the OUTDIR to point to your local binary output folder
2. As Jetbrains.Platform.SDK hasn't been updated yet, you need to manually set the WAVEID to 211 in line 15
3. Edit and update the Testcop.nuspec file to show the new v

[2021-05-01 13:12] Mike-E-angelo commented on #65
If it's that easy @MarkSandy can't those steps be put into a pull request, merged into main, and be officially deployed from there?

[2021-05-01 13:25] astrohart commented on #65
To be fair, I have never heard of that process before, needless to say, half the tools you mention.

I also find myself a little too short of time to prioritize doing this myself on any kind of dependable basis.

[2021-05-01 18:01] EdvardasDlugauskas commented on #68
Mark also [posted ](https://github.com/testcop/Resharper.TestCop/issues/65#issuecomment-830628820) these instructions in a previous issue #65

These are for getting a local nuget, but ideally we'd like an official release. I imagine there's a couple more steps involved from that point, but maybe we could get a PR going to streamline this for Mark?

@rayphi if you're still up to the task, do the in

[2021-05-01 18:03] EdvardasDlugauskas commented on #65
Just a heads up: we are trying to coordinate a PR to help Mark out with an official release of the NuGet in #68

[2021-05-02 12:24] MarkSandy commented on #65
I would could create a pull request, but this would add some "hacking" (e.g. overriding the waveid) which I wanted to avoid.

[2021-05-02 13:04] EdvardasDlugauskas commented on #68
@MarkSandy so for a non-hacky solution, we are waiting for changes from ReSharper SDK?

[2021-05-03 07:06] rayphi commented on #68
@MarkSandy @EdvardasDlugauskas Thank's! I've no idea why the restore did't work before... anyway now it works!
I've already updated:

[code]

Now I'm trying to find out where the JetBrains.Platform.* dependencies come from and if they are needed at all. In the last releases they were still updated.

[2021-05-03 07:47] MarkSandy commented on #68
Hey Raphael,

wow, I failed in trying to update *any*of the references. Great work!

__________________________________________

360-Grad-Blockchain-Begleitung
für Enterprise-Lösungen
maibornwolff.de/blockchain-services
__________________________________________

Mark Sandy
Senior Lead IT Architect

Mobil +49 151 544 22 470
***@***.***
Voßstraße 33, 10117 Berlin

MaibornWolff GmbH, Theresienhöhe 1

[2021-05-04 06:55] rayphi commented on #68
Now I stuck at this point (see below) and I can't understand it because all dependencies are removed (see my [current version](https://github.com/rayphi/Resharper.TestCop/commit/23b50af071464e83f59c8cf602b523fdbbdcd994)).

[code]

[2021-05-04 07:08] rayphi commented on #68
I'm not sure but I have the feeling that it is related to the following issue: #NuGet/Home/issues/5069

[2021-05-05 15:37] rayphi commented on #68
I managed to update everything. 🎉
Now there are 17 tests that are failing 😢.
https://ci.appveyor.com/project/rayphi/resharper-testcop/builds/39018049

I am now trying to understand what exactly is being tested and why it no longer works.

[2021-05-05 15:53] EdvardasDlugauskas commented on #68
Looking at the history in AppVeyor, did it ever succeed? 🤔

Judging by this error
[code]
...it also looks like it was due to some `JetBrains.TestFramework.JetNuGet.NuGetRestoreHelper.Restore`, so maybe this was an integration test? Maybe some configuration was not updated

[2021-05-05 16:39] rayphi commented on #68
Solved it with mentioned workaround over here => https://youtrack.jetbrains.com/issue/RSRP-483974

[2021-05-05 16:54] rayphi commented on #68
But hopefully the last failing 5 Tests... I'm now trying to recreate the step from the (AppVeyor) pipeline locally.
https://ci.appveyor.com/project/rayphi/resharper-testcop/builds/39019798

[2021-05-23 17:01] testcop commented on #65
Oh no,  for some reason notification emails have stopped on this repo and I missed all this conversation.

Really really sorry.... I am looking at it now...

[2021-05-23 20:11] #65 closed

[2021-05-23 20:26] testcop commented on #68
@rayphi Thanks for the PR and the extra code changes !

[2021-05-23 20:27] #64 closed

[2021-05-23 20:28] testcop commented on #38
@mu88   you are star for trying to get it working !

[2021-05-23 20:31] testcop commented on #68
Submitted to Jetbrains - will be available in a couple of days

[2021-05-23 21:01] rayphi commented on #68
Glad to "see" you back here - Thank you for submitting!"

Now that I've gone through the entire update process here 😬 do you have a specific order to successfully update all the dependencies or do you kick them all out first to reinstall them?

[2021-05-24 07:02] testcop commented on #68
The build will attempt to publish the nuget package to C:\SourceCode - so create the folder or edit the file nuget.build.bat

* Open up manage NuGet Packages for Solution
** upgrade JetBrains.Resharper.SDK Nuget package
** upgrade JetBrains.Resharper.SDK.Tests Nuget package
* Close project and reopen
* Now, compile and fix breakages
* Run unit tests (they are slow but pass)

No need to update the

[2021-05-24 18:22] rayphi commented on #68
Ok that's exactly what I did! But it always broke off because some dependencies could not be resolved or caused conflicts.

Do you have special install/update/uninstall settings in the Solution Package Manager?

[2021-05-24 19:31] testcop commented on #68
Jetbrains often release or update the tests package later - you may have needed to wait a few days.

[2021-05-25 05:50] mu88 commented on #38
Maybe a first good step would be to decouple the UI from Visual Studio 🤔 introducing some necessary interfaces would at least make it clear to a future hero what to implement within Rider.

[2021-08-03 15:38] Mike-E-angelo opened #72 "R# 2021.2.x Support"
PLEASEEEEEEEEEEEEEEEEEEEEEEEEEEE :) :) :)

https://blog.jetbrains.com/dotnet/2021/08/03/resharper-2021-2-release/

[2021-08-11 16:00] Mike-E-angelo opened #73 "R# 2022 Support"
😁

https://blog.jetbrains.com/dotnet/2021/04/28/resharper-and-visual-studio-2022-64-bit/

[2021-08-11 16:20] Mike-E-angelo commented on #73
Nevermind... it's using 2021.2 so getting a build for that will do the trick. 👍

[2021-08-11 16:20] #73 closed

[2021-08-14 16:28] matkoch commented on #72
Just an FYI for everyone: we made the offer to maintain and upgrade the plugin, but unfortunately it was not taken yet.

[2021-08-21 11:11] Mike-E-angelo commented on #72
@matkoch maybe fork this project and create an unofficial release in the meantime?  It seems @testcop has abandoned this project. 😭😭😭

Btw recall our conversation in TestLinker re: assembly attribute hints? https://github.com/matkoch/resharper-testlinker/issues/10#issuecomment-633994792

(I would have brought this up there but you archived it 😞)

Turns out [ReSharper Helpers](https://github.com/zv

[2021-09-03 19:52] testcop commented on #72
back online

[2021-09-03 20:00] matkoch commented on #72
can you please also assign me as developer in the jetbrains plugins marketplace? otherwise i can't upload anything. my account should be matkoch

[2021-09-04 07:37] matkoch commented on #72
all set. fyi, i can take a look in just about two weeks, since i'm on vacation from today.

[2021-09-04 17:51] testcop commented on #72
I will have try in the meanwhile. I did a quick compile but it was complaining about .Net versions...

[2021-09-04 18:52] matkoch commented on #72
you must update tfms to net472

On Sat 4. Sep 2021 at 19:52, Reporting for duty ***@***.***>
wrote:

[2021-09-14 21:06] testcop commented on #72
@rayphi Thanks for PR.
I think it would have taken me a while to figure out the old assembly redirects...

Submitted to R# plugin repo for review....now I need to see if Jetbrains will extend my R# license...

[2021-09-15 11:14] rklec commented on #72
You can close this issue then, cn't you?

[2021-09-15 17:34] Mike-E-angelo commented on #72
FWIW I am seeing this after installing in VS2022:

[code]

[2021-09-15 17:47] testcop commented on #72
I have hidden the plugin release for now. It didn't happen on my pc but I only have vs2017.

I will see if I can just wrap these calls in exception handlers.

[2021-09-15 17:49] Mike-E-angelo commented on #72
No worries @testcop the VS2022 is EAP. :)

[2021-09-15 17:52] testcop commented on #72
Does it work fine for you in other versions is VS?

[2021-09-15 18:00] Mike-E-angelo commented on #72
Unfortunately, I am VS2022-only as my solution was running into [very bad problems with VS2019](https://github.com/dotnet/aspnetcore/issues/35199).  Razor's tooling in that version had some major defects that caused incredibly out-of-control memory leaks for large solutions.

[2021-09-15 20:40] testcop commented on #72
okay - I am going to download the community edition of VS2022 and give it a go..

[2021-09-15 21:10] rayphi commented on #72
@Mike-E-angelo are there actually any working R# Plugins for VS2022?
@testcop for VS2019 everything works fine - have you removed the update from the R# Plugin Marketplace?

[2021-09-15 21:22] Mike-E-angelo commented on #72
There are a few glitches @rayphi ([this being one of them](https://github.com/MO2k4/CleanCode/issues/63)) but for the most part yes they all work surprisingly well, as does R#. :)

[2021-09-15 21:56] testcop commented on #72
I did remove from the marketplace.

[2021-09-16 06:57] schuettecarsten commented on #72
Keep in mind that VS2022 is preview and the R# build for VS2022 is also only a 64bit recompile of 2021.2. The EAP for 2021.3 will start in a month or so, so I think its worth to wait for the EAP. Having a working VS2019 build in the Jetbrains Marketplace is more important than VS2022.

[2021-09-16 08:15] Mike-E-angelo commented on #72
Nodding along in agreement, @schuettecarsten.  FWIW my intent was to inform and not to demand. 😁

[2021-09-16 15:39] rklec opened #76 "Doc: Hotkey/shortcut option is not there anymore"
The doc in https://github.com/testcop/docs/blob/master/wiki/keyboard_shortcut.md explains you should find the option for the hot key in the TestCop options, but it is not there:
![grafik](https://user-images.githubusercontent.com/71322635/133642509-bb8a0943-2b9f-4ac3-87af-ee6f9ecfdf89.png)

And I have no idea what "Show panel when mappng keyboard shortcut" means. 😅

TestCop v1.10.14.1
VS 2019

BTW

[2021-09-16 18:13] testcop commented on #76
Documentation is now updated - the UI setting was dropped once R# added support for running [code on installation](https://github.com/testcop/Resharper.TestCop/blob/7effad6233a0f4e93b7168c7b1dc5477494149b3/Project/Src/TestCop.Plugin/RegisterKeyboardShortcuts.cs#L24).

The shortcut is assigned once on installation....you are free to change it afterwards to your favourite key combination

[2021-09-16 18:14] testcop commented on #76
+ the show panel when mapping shortcut....
this shows the TestCop panel in the VS screen when the macro is mapped ...so you know which mapping was used...

[2021-09-16 20:43] testcop commented on #72
@Mike-E-angelo how did you get resharper and VS2022 working together? The r# installer is saying it can't be installed with VS2022 professional or community..

[2021-09-16 21:29] Mike-E-angelo commented on #72
Are you using the EAP here, @testcop?
https://resharper-support.jetbrains.com/hc/en-us/articles/4404930135570

If you are using that and are experiencing those issues then I am unsure what the problem could be.  I would file an issue on YouTrack if so, as they are super active there.

[2021-09-17 16:16] Ian1971 commented on #72
Just to confirm TestCop is now again available to r# in vs2019. Thanks for sorting I was lost with ctrl-g ctrl-t.extension.

[2021-10-01 19:39] rayphi opened #79 "R# 2021.3 EAP Support"
To be able to quickly provide the VS2022 support.

[2021-10-01 19:49] rayphi commented on #79
currently the automatic shortcut assignment does not work.
and an exception that EnvDTE cannot be found is thrown when the JumpToTestFile action.
But besides that, it works quite well.

[2021-10-03 09:26] #76 closed

[2021-10-03 09:30] testcop commented on #79
`exception that EnvDTE cannot be found is thrown`
any ideas if this is an R# or VS change? I am assuming it is VS...

[2021-10-03 09:40] #79 closed

[2021-10-03 12:19] rayphi commented on #79
This is an VS change

https://docs.microsoft.com/en-us/visualstudio/extensibility/migration/breaking-api-list?view=vs-2022#dte-and-_dte-type-cast-failures

In `Project\Src\TestCop.Plugin\Helper\DTEHelper.cs` we use EnvDTE

[2021-10-03 15:51] testcop commented on #72
pushed to Jetbrains... "TestCop for ReSharper 2021.2 1.10.15.1-EAP"
@rayphi

[2021-10-03 18:29] rayphi commented on #72
Yeah, I've also just delivered some bugfixes in PR#82 so with the next version everything will now work again with VS2022

[2021-10-05 17:47] testcop commented on #72
@rayphi I think we knew this might happen... DTE2 change in VS2017...

Could not load file or assembly 'Microsoft.VisualStudio.Interop, Version=17.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

--- EXCEPTION #1/2 [FileNotFoundException]
Message = “Could not load file or assembly 'Microsoft.VisualStudio.Interop, Versi

[2021-10-05 18:33] rayphi commented on #72
Hmm I'm not sure if there are any other possibilities but it seems like we'll have to have a version for 2019 and below and one for 2022 and later. https://youtu.be/2c-4uZc0rq0

[2021-11-21 19:43] #72 closed

[2021-12-12 09:10] Mike-E-angelo opened #84 "Move File No Longer Works"
Hi all,

First off, thank you so much for putting this together for the latest ReSharper build.  It is much appreciated.

Seeing that it was available, I checked it out and was met with warnings of files not corresponding to the correct namespace.

For instance, this file:
https://github.com/DragonSpark/Framework/blob/0347d51de251baf0b954d57f06debaa5f1d8012b/DragonSpark.Application.Testing/Compose

[2021-12-12 09:36] testcop commented on #84
thanks for raising. it is one of the areas I was never able to write a decent unit test for

[2021-12-12 21:06] rayphi commented on #84
Created an Issue over here => https://youtrack.jetbrains.com/issue/RSRP-487230 because TestCop is not mentioned in the exception that was trown.

[2021-12-13 17:55] rayphi commented on #84
As mentioned in [RSRP-487230](https://youtrack.jetbrains.com/issue/RSRP-487230) the `AssemblyCompanyAttribute` solves this issue.

[2021-12-13 18:05] Mike-E-angelo commented on #84
Thank you for all your efforts here!  It is very cool to see, and the quick turnaround is especially appreciated. 🙏

[2021-12-16 21:04] #84 closed

[2021-12-17 20:59] testcop commented on #84
RELEASED https://plugins.jetbrains.com/plugin/11635-testcop-for-resharper-2021-3/versions/stable/150909

[2021-12-17 21:00] testcop commented on #84
@rayphi you are a star...

[2022-01-11 17:55] MichaelInsberg opened #86 "Testcop don't work"
I installed the plugin but I can't see it in Resharper Options and the shortcut also won't work.

I'm using VS2022 wit the latest version of resharper.

Any suggestions?

Greeting michael

[2022-01-11 21:08] testcop commented on #86
Just checked with
Microsoft Visual Studio Community 2022 Preview (64-bit)
Resharper 2021.3.1..

and installed v2021.3 Testcop Version **1.10.15.6**

All works as expected.

[2022-01-12 06:52] MichaelInsberg commented on #86
I started repair Resharper after that everthing works perfect.

[2022-01-12 20:34] #86 closed

[2022-02-07 09:01] MarkSandy opened #87 "Focus jumps to TestCop output making it impossible to continue to work"
I am making changes in a test class that does not fit the current naming convention. So I get the error message

"Didn't find project with namespace of: yxxxx to match xxxx.Unittests.xxxxx"

Which is ok.

However, the focus switches from the code view to the TestCop output view making it impossible to continue to work fluently as I always have to click into the code window to continue typing. The

[2022-02-07 21:11] testcop commented on #87
hi, that message should only appear when you use the testcop shortcut to navigate between test and code. The shortcut by default is assigned to Ctrl-G+T. Can you confirm versions of R# and VisualStudio you are using please?

I see the focus changing only when i do Ctrl-G+T...I will take a look at why it has started doing this...

[2022-02-08 07:50] MarkSandy commented on #87
Hi,
the message (and focus change) appears after each end every keystroke. However, the focus should not change at all, don’t you think so? I changed the shortcut to Ctrl-Y Y (Y is on the lower left, right next to Ctrl on a german keyboard)

The problem shows up on VS 2022 and R# 2021.3.3.

I tried to reproduce the problem but failed. I will continue to work and keep an eye on the strange behavior

[2022-02-08 21:05] testcop commented on #87
fix pushed to JetBrains - give it a couple of days before it is available - issue was introduced as recompile with R# version
2021.3 1.10.15.7

thanks for using TestCop...

[2022-02-08 21:05] #87 closed

[2022-02-21 15:24] jcsonder commented on #38
Any progress on that? 😀

[2022-02-21 15:54] mu88 commented on #38
Yes and no 😉 Instead of pushing TestCop forward, I started supporting @vladyslav-burylov and his project [Test Linker 2](https://github.com/vladyslav-burylov/resharper-testlinker2). That one is compatible with both Rider and R# and does all I need. You can obtain it from the [JetBrains store](https://plugins.jetbrains.com/plugin/15518-test-linker-2).

[2022-02-21 21:08] testcop commented on #38
Any reason for testcop when Test Linker 2 does the same?
BTW was it pretty straight forward to do the UI element (config settings) in Test Linker

[2022-02-22 06:56] mu88 commented on #38
Honestly I didn't use TestCop for quite some time, therefore I don't know whether TestCop and Test Linker 2 have feature parity. But for me it offers all I need.

Regarding the UI, the plugin originally started at a different point: @matkoch first implemented his version which was already based on the original JetBrains plugin template supporting both Rider and R#. Then he archived his project and

[2022-02-22 08:24] jcsonder commented on #38
Thanks for the hint, @mu88 .
But _Test Linker 2_ doesn't like big solutions. 😢
I just see this
![grafik](https://user-images.githubusercontent.com/7531115/155089302-973d8a22-d4f0-4f01-802d-6a842e3627c6.png)
and have to wait ages until I have
![grafik](https://user-images.githubusercontent.com/7531115/155090841-0a52b118-d5b3-48d9-b1d3-2a8a01f423fa.png)
Only with small solutions it works fine.

I ha

[2022-02-22 09:51] mu88 commented on #38
@jcsonder Feel free to file an issue (preferably with an example of a big Solution)

[2022-04-27 15:35] rklec commented on #62
One cannot install/find it anymore with recent Resharper versions as it seems:
![grafik](https://user-images.githubusercontent.com/71322635/165556303-e7bc33b8-dec5-4ee1-9ce6-c5cc67219398.png)

JetBrains ReSharper 2022.1 Build 221.0.20220418.193503 built on 2022-04-18
ReSharper 2022.1.20220418.200314

[2022-04-27 15:40] astrohart opened #89 "Needs a recompile for ReSharper 2022.1.1"
Hi,

I request you please recompile this for the latest version of ReSharper, which is 2022.1.1.

Thank you.

Regards,

Brian Hart

[2022-04-27 18:54] testcop commented on #89
taking a look.
Pull Requests welcomed...

[2022-04-28 08:34] SchreinerK commented on #89
On first view, there are 80! referenced packages. too much to know which one needs to be updated w/o prior knowledge

[2022-04-28 15:01] rayphi commented on #89
@SchreinerK as mentioned over here https://github.com/testcop/Resharper.TestCop/issues/68#issuecomment-846812554
You have to:
* Open up manage NuGet Packages for Solution
  * upgrade JetBrains.Resharper.SDK Nuget package
  * upgrade JetBrains.Resharper.SDK.Tests Nuget package
* Close project and reopen – _For me, it has worked without this step so far._
* Now, compile and fix breakages – hardest p

[2022-04-28 20:52] #89 closed

[2022-04-28 21:16] testcop commented on #89
Pushed to Jetbrains. Many thanks @rayphi

[2022-09-06 14:59] ModernRonin opened #99 "[Feature Request] Option to open test-class in separate tab group"
It would be awesome if there was an option to open test classes in another tab group. That option probably would have to specify if horizontal or vertical. When set, the behavior would be:

* when jump-to-test is called:
  *  is there already another tab group?
  * if yes, open the test-class there
  * if no, create one (horizonal or vertical, depending on the configuration) and open the test-clas

[2022-09-06 20:05] testcop commented on #99
Thanks for your note.

The code that opens the file is here https://github.com/testcop/Resharper.TestCop/blob/ceddb8fa1070543070cfe37a09b66f772b28d4c8/Project/Src/TestCop.Plugin/Helper/JumpToTestMenuHelper.cs#L89

And the R# OpenFileOptions class does take a 'TabOptions'  which has possible values of

  [Flags]
  public enum TabOptions
  {
    NormalTab = 0,
    ProvisionTab = 1,
    Default = 2,